services:
  # Backend API Service
  - type: web
    name: food-delivery-backend
    runtime: node
    # env: node
    region: singapore
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm run seed && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        value: dq1n0rffd
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: DEMO_MODE
        value: "true"
      - key: FRONTEND_URL
        sync: false
    healthCheckPath: /health
    autoDeploy: true
